<head>
    <title> Prova de balanceig de càrrega amb Nginx</title>
</head>
<body> 
    <h2> Aquest és el webserver {{ server_name }}</p>
    <p>Comprova el balanceig de càrrega Nginx recarregant aquesta pàgina</p>
</body>
</html>